/* row for dev cards */
.devmain {
    margin-top: 100px;
    flex: 1 0 auto;
}

.nav-wrapper {
    background: #192231;
}

/* navbar and footer  */
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav,
.dev-name,
.c-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* nav title */
.devtitle {
    font-size: 28px;
    margin-left: 10px;
}

/* dev card names */
.dev-name{
    margin: 0;
    margin-bottom: 5px;
    color: black; 
    font-size: 20px;
}

/* card images */
img {
    height: 350px;
    width: auto;
    background-size: cover; 
}

/* card text */
.c-text {
    height: 100%; 
    font-size: 14px;
}

/* custom color */
.waves-effect.waves-maroon {
    background: #192231;
}

/* footer styling */
.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    background: #192231;
    height: 60px;
}

#footer-font {
    margin-top: 8px;
}




     
