/* div { */
    /* border: black solid 1px; */
/* } */

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    }


#postArea1, #postArea2, #postArea3, #newPosts, #hotPosts {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
}

#uPost {
    background-color: white;
    box-shadow: 2px 2px 2px dimgrey;
    margin-top: 10px;
    padding: 5px;
}

#commentLink {
    background-color: #26a69a;
    box-shadow: 2px 2px 2px dimgrey;
    color: white;
    padding: 8px;
}

#commentLink:hover {
    background-color: grey;
}

#upvoteBtn {
    background-color: blue;
}

#downvoteBtn {
    background-color: red;
}

#dorm {
    display: block;
    width: 20%;
}

#postTabs {
    margin-top: 2%;
}

#tabs {
    color: dimgrey;
}

#tabs:focus.active {
    background-color: #26a69970;
}

#aPost {
    background-color: rgb(138, 40, 40);
    color: white;
    border: 5px solid black;
    margin: 5px;
    font-size: 25px;
}

#feedHeader {
    background-color: rgb(141, 65, 65);
    margin-top: 0;
}

.input-field {
    background-color: white;
    margin: 0;
}


.headCols {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4b1524;
    /* border-left: black solid 1px;  */
}

/* .submitBtn {
    float: right;
} */

/* #postForm {
    width: 400px;
} */

#logoutBtn {
    float: right;

}

#postSubmitBTN {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #4b1524;
}

#feedLogo {
    width: 100%;
}

/* #profile, #posts, #announcements { */
    /* padding: 5px; */
/* } */

#links {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 30px;
    margin-top: 10%;
    color: #4b1524;
}

.adminCard, .raCard {
    margin: 0 17px; 
}


#feedLogo {
    margin: 0 5px ;
    margin-right: 10px;
}

#posts {
    padding-left: 30px;
}

#textarea2 {
    color: #4b1524;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

h4 {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rev {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}