#feedHeader {
    background-color: rgb(141, 65, 65);
    margin-top: 0;
}

.headCols {
    font-family: 'Raleway', sans-serif;
    /* border-right: black solid 1px;
    border-left: black solid 1px; */
}

.submitBtn {
    
}

/* #postForm {
    width: 400px;
} */

#logoutBtn {
    float: right;
}

div {
    /* border: black solid 0.5px; */
}
