body {
    background-image: url('../images/bookbg.jpeg');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #4b152410; */
    /* background-color: #F9EAE1; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#adminBody {
    background-color: rgb(190, 192, 192);
    height: 100%;
    width: 100%;
}

.generateBtn, #copyKey {
    background-color: #383c50fa;
    /* box-shadow: 2px 2px 2px dimgrey; */
    color: white;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
}

#eImage {
    border: 2px solid #0e222deb;
}

#eImage:hover {
    opacity: 0.5;
}

#postTabsA {
    background-color:white;
}

#postArea1, #postArea2, #postArea3, #newPosts, #hotPosts {
    background-color: white;
    text-align: center;
}

#uPost, #tPost {
    background-color: white;
    margin-top: 10px;
    padding: 5px;
}

#commentLink, #commentLink1, #commentLink2, #commentLink3 {
    background-color: #383c50fa;
    /* box-shadow: 2px 2px 2px dimgrey; */
    color: white;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
}

#commentBTN {
    float: right;
} */

#commentLink:hover {
    background-color: grey;
}

#upvoteBtn, #tupvoteBtn, #downvoteBtn, #tdownvoteBtn {
    background-color: white;
    width: 65px;
    border: none;
    padding: 5px;
}

#upvoteBtn:hover, #tupvoteBtn:hover, #downvoteBtn:hover, #tdownvoteBtn:hover {
    background-color: rgb(112, 109, 109);

}
#upvoteBtn:focus, #tupvoteBtn:focus, #downvoteBtn:focus, #tdownvoteBtn:focus {
    background-color: rgb(99, 60, 60);
}

/* #downvoteBtn, #tdownvoteBtn {
    display:block;
    position: relative;
    top: -68px;
    left: 180px;
}

#upvoteBtn, #tupvoteBtn {
    position: relative;
    display:block;
    top: -120px;
    left: 180px;
} */

#dorm {
    display: block;
    width: 20%;
}

#comment, #tcomment {
    background-color: rgba(188, 229, 220, 0.541);
}

#tabsToggle {
    box-shadow: none;
}

#tabs {
    color: #435663;
}

#tabs:focus.active {
    background-color: #26a69970;
}

.key {
    font-size: 22px;
}

#aPost, #ra1Post, #ra2Post, #ra3Post {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.input-field {
    background-color: white;
    margin: 0;
}

.headCols {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    /* border-left: black solid 1px;  */
}

.logout {
    /* background-color: white; */
    color: white;
    /* height: 100px;
    width: 124px;
    border: #4b1524 solid 3px; */
    font-weight: bold;
    /* padding: 10px; */
    margin-top: 25px;
}

/* .logout:before { */
    /* top: 4px; */
                        /* left: 4px;
                        right: 8px;
                        bottom: 7px;
                        content: " ";
                        height: 85px;
                        width: 106px;
                        display: block;
                        position: absolute; */
    /* box-shadow: -0.1px -0.1px 1px rgb(104, 102, 102); */
    /* background-color: white; */
/* }  */

#postArea {
    border: 10px solid #581717;
}

#postSubmitBTN {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #581717;
    width: 100%;
}

#feedLogo {
    height: 100%;
    float: left;
    background-color: white;
    margin-left: 60px;
}

#links {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 30px;
    margin-top: 10%;
    color: #435663;
}

.adminCard, .raCard {
    /* margin: 10px; */
    text-align: center;
    /* font-size: 30px; */
    /* margin-top: 10px; */
}

.admin {
    margin-top: 10px;
}

#textarea2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}

.anHeader {
    color: #435663;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
}

/* Announcements media queries */
/* phones */
@media only screen 
and (min-width: 350px)
and (max-width: 767px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    }
}

/* tablets */
@media only screen 
and (min-width: 768px)
and (max-width: 1024px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    }
}

/* large screens */
@media only screen 
and (min-width: 1025px)
and (max-width: 1920px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 24px;
    }
}

/* .nav-wrapper { */
    /* background-color: #161f2ceb;     */
    /* padding: 5px; */

/* } */

#nav {
    height: 100%;
    padding: 10px;
    background-color: #0e222deb;
}

#navbar {
    height: 100px;
}

#profile, #posts {
    margin-top: 10px;
}


#tabs:focus.active {
    background-color: #C1A5A9;
    color: white;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #CC8B86;
    will-change: left, right;
}

.card-panel {
    margin: 0;
}

nav .brand-logo.center {
    margin-top: 18px    
}

.waves-effect.waves-evening {
    background-color: #985e6d;
    margin-top: 12px;
}