div {
    /* border: black solid 1px; */
}

body {
    background-image: url('../images/bookbg.jpeg');
    background-size: 100%;
    /* background-color: #4b152410; */
    /* background-color: #F9EAE1; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


#postArea1, #postArea2, #postArea3, #newPosts, #hotPosts {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
}

#uPost {
    background-color: white;
    box-shadow: 2px 2px 2px dimgrey;
    margin-top: 10px;
    padding: 5px;
}

#commentLink {
    background-color: #26a69a;
    box-shadow: 2px 2px 2px dimgrey;
    color: white;
    padding: 8px;
}

#commentLink:hover {
    background-color: grey;
}

#upvoteBtn {
    background-color: blue;
}

#downvoteBtn {
    background-color: red;
}

#dorm {
    display: block;
    width: 20%;
}

#postTabs {
    margin-top: 2%;
}

#tabs {
    color: #435663;
}

#tabs:focus.active {
    background-color: #26a69970;
}

.key {
    font-size: 22px;
}

#aPost {
    background-color: lightgrey;
    box-shadow: 2px 2px 2px dimgrey;
    font-size: 22px;
}
/* 
#feedHeader {
    background-color: rgb(141, 65, 65);
    margin-top: 0;
} */

.input-field {
    background-color: white;
    margin: 0;
}

.headCols {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    /* border-left: black solid 1px;  */
}

/* .submitBtn {
    float: right;
} */

/* #postForm {
    width: 400px;
} */

.logout {
    /* background-color: white; */
    color: white;
    /* height: 100px;
    width: 124px;
    border: #4b1524 solid 3px; */
    font-weight: bold;
    /* padding: 10px; */
    margin-top: 25px;
}

/* .logout:before {
    border: 3px solid #4b1524;
    /* top: 4px; */
    /* left: 4px; */
    right: 8px;
    bottom: 7px;
    content: " ";
    height: 85px;
    width: 106px;
    display: block;
    position: absolute;
    box-shadow: -0.1px -0.1px 1px rgb(104, 102, 102);
    /* background-color: white; */
} */


#postSubmitBTN {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #494e6b;
}

#feedLogo {
    height: 100%;
    float: left;
    background-color: white;
    /* margin: 0 5px ;
    margin-right: 10px; */
}

/* #profile, #posts, #announcements { */
    /* padding: 5px; */
/* } */

#links {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 30px;
    margin-top: 10%;
    color: #435663;
}

.adminCard, .raCard {
    /* margin: 10px; */
    text-align: center;
    /* font-size: 30px; */
    /* margin-top: 10px; */
}

.admin {
    margin-top: 10px;
}

#posts {
    /* padding-left: 30px; */
}

#textarea2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}


.anHeader {
    color: #435663;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
}

/* Announcements media queries */
/* phones */
@media only screen 
and (min-width: 350px)
and (max-width: 767px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    }
}
/* tablets */
@media only screen 
and (min-width: 768px)
and (max-width: 1024px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    }
}
/* large screens */
@media only screen 
and (min-width: 1025px)
and (max-width: 1920px) {
.anHeader {
    color: #4b1524;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    font-size: 24px;
    }
}

.nav-wrapper {
    background-color: #192231;    
    /* background-color: #435663;     */
    padding: 5px;

}

#navbar {
    height: 100px;
}

#profile, #posts {
    margin-top: 10px;
}


#tabs:focus.active {
    background-color: #C1A5A9;
    color: white;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #CC8B86;
    will-change: left, right;
}

.card-panel {
    margin: 0;
}

nav .brand-logo.center {
    margin-top: 18px    
}

.waves-effect.waves-evening {
    background-color: #985e6d;
    margin-top: 12px;
}